body{
    margin: 0;
    background-color: #8EC3B0;
    font-family: sans-serif;
}
.header{
    display: inline-block;
    color: #fff;
}
.header:first-child{
    margin-right: 30%;
    margin-left: 4%;
}
.header:not(:first-child){
    margin-left: 7%;
}

.header:nth-child(5),
.header a {
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
}
.formulario{
    width: 400px;
    height: 540px;
    background-color: #DEF5E5;
    text-align: center;
    border-radius: 40px;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    margin: auto;
}
input, .boton, select{
    background-color: #9ED5C5;
    border: none;
    margin: 20px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
}
input:first-child{
    margin-top: 30px;
}
.boton{
    font-size: medium;
    margin-top: 0%;
    cursor: pointer;
}
input::placeholder {
    border-bottom: 1px solid #000000;
    margin-left: 3px;
    padding-right: 10px;
    padding-left: 5px;
    position: absolute;
    width: 87%;
    color: #000000;
    font-size:medium
}
.singup-titulo{
    top: 20px;
    position: relative;
    font-style: normal;
    font-weight: 400;
    
}
.parrafo{
    font-size: smaller;
    position: relative;
    bottom: 20px;
    right: 25px;
}
.parrafo:last-child{
    font-size: small;
    right: 2px;
}
.icon{
    position: absolute;
    display: block;
    margin: 27px 0 0 275px;
    width: 18px;
}
.password{
    cursor: pointer;
}
